# Echo-Breaker Environment Configuration Template
GEMINI_API_KEY=AQ.Ab8RN6KdX_BSpmSLIGvEKZE036nmrf6Y7rYhw4GjzRv9fgn3gw
# Optional: OpenAI API Key if using OpenAI models
OPENAI_API_KEY=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
# Optional: Groq API Key if using Groq models (Llama-3 70b)
GROQ_API_KEY=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
# Optional: Tavily API Key for enhanced web search
TAVILY_API_KEY=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

HOST=0.0.0.0
PORT=8000
